.app-logo {
  margin-top: 3em;
}
.app-logo .logo {
  display: inline-block;
}
.app-logo .logo img{
  height: 4em;
  margin-top: 0.5em;
}
.app-section {
  align-items: center;
  font-weight: 300;
  padding-bottom: 2em;
  padding-top: 2em;
  min-height: 60vh;
}
.app-section-sample {
  color: #7046b2;
}
.app-sample-container {
  background: #fff;
  border-color: #eee;
}
