.section-hero {
  border-bottom: 1px #ddd solid;
}
.section-hero h2,
.section-hero h3 {
  font-weight: 300;
}
.section-hero .tagline {
  font-size: 1.8em;
  margin: 1em 0 3em;
}
.section-hero .actions {
  color: #7046b2;
  padding: 1em 0;
  text-align: right;
}
.section-hero .actions a {
  display: inline-block;
  margin-right: 0.5em;
}
