
.section-hero-snippet .input,
.section-hero-snippet .select {
  background: transparent;
  border: 0;
  color: #333;
  font-weight: 300;
  margin: 0;
  outline: none;
  padding: 0;
}
.section-hero-snippet .input {
  padding: 0 0.5em;
}
.section-hero-snippet .selector {
  border-bottom: 1px #ddd solid;
  display: block;
  margin: 0.5em 0;
}

/*.showcase {
  background: rgba(255, 255, 255, 0.2);
  font-weight: 300;
  margin: 1em 0;
  padding: 1em;
  text-align: center;
}
.showcase .input,
.showcase .select {
  background: 0;
  border: 0;
  color: #fff;
  margin: 0;
  outline: none;
  padding: 0;
}
.showcase .words,
.showcase .selector {
  color: #fff;
  display: inline-block;
  width: 45%;
}
.showcase .selector {
  background: rgba(255,255,255,0.2);
  font-size: 1em;
  margin: 0.5em;
  padding: 0 0.5em;
}
@media (min-width: 40em) {
  .showcase {
    margin: 0;
  }
  .showcase .words,
  .showcase .selector {
    font-size: 1.2em;
    width: auto;
  }
  .showcase .selector {
    margin: 0 0.5em;
    width: 10em;
  }

  .showcase .input,
  .showcase .select {
    text-align: center;
  }
}*/
